*{
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  box-sizing: border-box;
}

.grid {
  display: grid;
  /*grid-template-columns: minmax(70px, 250px) repeat(3, auto) minmax(70px, 250px);
  grid-template-rows: repeat(5, 1fr);*/
  grid-gap: 10px;
  grid-template-areas:
    'header header header header header'
    'sidebar-left content content content sidebar-right'
    'sidebar-left content content content sidebar-right'
    'sidebar-left content content content sidebar-right'
    'footer footer footer footer footer'
;
}

.grid__item {
  background-color: green;
  color: #fff;
  padding: 20px;
  text-align: center;
  border: 1px solid #000;
}

.header {
  /*grid-column: 1 /-1;*/
  grid-area: header;
}

.sidebar-left {
  /*grid-row: span 3;*/
  grid-area: sidebar-left;
}

.content {
  /*grid-column: 2 / 5;*/
  /*grid-row: span 3;*/
  grid-area: content;
}

.sidebar-right {
  /*grid-row: span 3;*/
  grid-area: sidebar-right;
}

.footer{
  /*grid-column: 1 / -1;*/
  grid-area: footer;
}

